<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.luzi82.musicwidgetplus"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/app_music" android:label="@string/musicbrowserlabelx">
        <activity android:name=".AddWidgetActivity"
                  android:label="AddWidgetActivity"
                  android:theme="@style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        
        <service android:name=".MediaPlaybackService" android:exported="true" />
        
        <receiver android:name=".MediaAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_config_info" />
        </receiver>

    </application>
    <uses-sdk android:minSdkVersion="4" />

</manifest>
